{% extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
<div class="container">
  <div class="row">
  {% for section in sections %}
  <div class="col-md-4">
  <!-- Card -->
  <div class="card">
  <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="{{section.photo.url}}" alt="Card image cap" style="height:200px; width:100%;">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  <!-- Card content -->
    <div class="card-content">

      <!-- Title -->
      <h4 class="card-title"><a href="/section/{{section.id}}"">{{section.name}}</a></h4>
      <!-- Text -->
      <p class="card-text">{{section.description}}</p>
      <!-- Button -->
      <a href="#" class="btn btn-primary">Enter</a>
    </div>

  </div>
<!-- Card -->
   </div>
  {% endfor %}
  </div>
</div>
{% endblock %}